@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --creme: #f6ecea;
  --text-dark: #191716;
  --primary: #694e3f;
}

body {
  color: var(--text-dark);
  background: var(--creme);
  font-family: Arial, Helvetica, sans-serif;
}

.border-logo {
  border-radius: 50% 50% 50% 50% / 0% 0% 100% 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h2 {
  @apply lg:text-4xl text-2xl;
}

p {
  @apply text-xl;
}
