@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --creme: #f6ecea;
  --text-dark: #191716;
}

body {
  color: var(--text-dark);
  background: var(--creme);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
